.hero {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding: 80px 10%;
  background-image:
    linear-gradient(
      to bottom,
      transparent 65%,
      #000000 100%
    ),
    url("/img/logo1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.hero-content {
  max-width: 800px;
}

.hero-intro {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: clamp(3rem, 8vw, 6rem);
  line-height: 1;
  margin-bottom: 20px;
  color: #E0C69A;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 25px;
}

.hero-description {
  max-width: 650px;
  font-size: 1.3rem;
  line-height: 1.7;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-link:hover {
  transform: translateY(-3px);
}

.hero-buttons a {
  padding: 14px 25px;
  text-decoration: none;
  color: #faf8f8;
  transition: 0.5s;
  padding: 20px;
  border: 1px solid #E0C69A;
  border-radius: 16px;
}

.hero-buttons a:hover {
  color: #E0C69A;
}

@media (max-width: 768px) {
  .hero {
    padding: 60px 5%;
  }

  .hero h1 {
    font-size: 3.2rem;
  }

  .hero h2 {
    font-size: 1.6rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}