.hero {
  min-height: calc(105vh - 80px);

  display: flex;
  align-items: center;

  padding: 80px 10%;

  color: white;
}

.hero-content {
  max-width: 800px;
}

.hero-intro {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: clamp(3rem, 8vw, 6rem);
  line-height: 1;
  margin-bottom: 20px;
  color: #E8753D;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 25px;
}

.hero-description {
  max-width: 650px;
  font-size: 1.3rem;
  line-height: 1.7;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-buttons a {
  padding: 14px 25px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.hero-buttons a:hover {
  color: #E8753D;
}

@media (max-width: 768px) {
  .hero {
    padding: 60px 5%;
  }

  .hero h1 {
    font-size: 3.2rem;
  }

  .hero h2 {
    font-size: 1.6rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}