.footer {
  padding: 30px 10%;
  text-align: center;
  border-top: 1px solid #ddd;
  background-color: black;
}

.footer span {
  margin: 0;
}

@media (max-width: 768px) {
  .footer span {
     font-size: 10px;
  }
}